* {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 42px;
  background: #f6f5ff;
  padding: 20px 320px;
  width: 1920px;
  height: 114px;

  .tRustedbyinnovativeb {
    flex-shrink: 0;
    line-height: 20px;
    letter-spacing: 0;
    color: var(--New-style-Secondary-Text, #4b5563);
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .autoWrapper {
    position: relative;
    flex-shrink: 0;
    width: 1px;
    height: 23px;

    .line66 {
      position: absolute;
      top: 12px;
      left: -11px;
      background: #4b5563;
      width: 23px;
      height: 1px;
      rotate: 90deg;
    }
  }

  .frame34502 {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    column-gap: 32px;

    .frenchBonkers {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 1px;
      width: 177px;
      height: 65px;

      .frame1000007039 {
        flex-shrink: 0;
        width: 166px;
        height: 16px;
      }
    }

    .frame1000003890 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 128px;
      height: 65px;
      row-gap: 8px;

      .download20250324T190 {
        flex-shrink: 0;
        width: 114px;
        height: 34px;
      }
    }

    .frame1000003891 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 151px;
      height: 65px;
      row-gap: 8px;

      .image7 {
        flex-shrink: 0;
        width: 146px;
        height: 20px;
      }
    }

    .frame1000003892 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 102px;
      height: 65px;
      row-gap: 8px;

      .image380 {
        flex-shrink: 0;
        width: 91px;
        height: 22px;
      }
    }

    .frame1000003893 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 133px;
      height: 65px;
      row-gap: 8px;

      .download20250324T1902 {
        flex-shrink: 0;
        width: 113px;
        height: 35px;
      }
    }

    .frame1000003894 {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      height: 74px;
      row-gap: 9px;

      .download20250324T1903 {
        flex-shrink: 0;
        width: 95px;
        height: 54px;
      }
    }
  }
}
